@page
@model Razor_Pages.Pages.IndexModel
@{
}
<h2>Aplikacja demonstracyjna Sim Web</h2>
<br />
<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
<br />
<p>Mapa typu: @SimulationModel.map.GetType().Name</p>
<br />
<p>Sekwencja ruchów: @SimulationModel.moves</p>
<img src="Resources/HugeOrc.png" alt="scary orc" style="max-width:100%" />