<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]WebSim</title>
    <link rel="stylesheet" href="~/css/site.css"
          asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <h1>Simweb</h1>
        <nav>
            <a asp-area="" asp-page="/Index">Information</a>
            <a asp-area="" asp-page="/Simulation">Simulation</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Piotr Szeliga</p>
    </footer>
</body>
</html>